<a href="https://colab.research.google.com/github/HongJaeKwon/kimhae_fire_detection/blob/master/hjk_fire_feature.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# 구글 드라이브 마운트
from google.colab import drive
drive.mount('/gdrive', force_remount=True)
# /gdrive/My Drive/ (폴더명)

Mounted at /gdrive

In [0]:
import numpy as np
import pandas as pd
import os
import glob
import random
from tqdm import tqdm
from tensorflow.python import keras
from tensorflow.python.keras import backend as K
from tensorflow.python.keras import losses
from tensorflow.python.keras import initializers
from tensorflow.python.keras.optimizers import Adam
from tensorflow.python.keras.models import Sequential, Model, load_model
from tensorflow.python.keras.layers import Conv2D, Conv2DTranspose, Activation, Flatten, Dense, UpSampling2D, Reshape, Lambda, Input, Dropout, LeakyReLU, BatchNormalization
from tensorflow.python.keras.preprocessing.image import ImageDataGenerator, Iterator
from tensorflow.python.keras.preprocessing.image import img_to_array, array_to_img
from tensorflow.python.keras.losses import mean_absolute_error, binary_crossentropy

In [0]:
train_df = pd.read_csv('/gdrive/My Drive/김해화재/PJT002_train.csv')
val_df = pd.read_csv('/gdrive/My Drive/김해화재/PJT002_validation.csv')
test_df= pd.read_csv('/gdrive/My Drive/김해화재/PJT002_test.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8,172,173,174,175,176,177,178,179) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
test_df['fr_yn']='U'

In [0]:
print(train_df.shape)
print(val_df.shape)
print(test_df.shape)

(59199, 180)
(6898, 180)
(2957, 180)

In [0]:
all_df=pd.concat([train_df,val_df,test_df],axis=0)
all_df['fr_yn']=all_df['fr_yn'].apply(lambda x: 0 if x=='N' else 1 if x=='Y' else -1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [0]:
all_df.head()

   ahsm_dstnc  bldng_ar  bldng_ar_prc  ... us_yn  wnd_drctn  wnd_spd
0       11322     69.42           NaN  ...   NaN      200.0      0.9
1        3369     46.29      122581.0  ...   NaN       20.0      0.5
2       12451    583.80      618105.0  ...   NaN       90.0      2.0
3         407     48.92      719542.0  ...   NaN        0.0      0.4
4       12487      0.00           NaN  ...   NaN      360.0      0.6

[5 rows x 180 columns]

In [0]:
fr_cols = ['fr_yn','fr_mn_cnt','fr_sttn_dstnc','fr_wthr_fclt_dstnc','fr_wthr_fclt_in_100m']
bldng_cols = ['fr_yn', 'bldng_us', 'bldng_archtctr','bldng_cnt','bldng_ar','ttl_ar','lnd_ar','dt_of_athrztn','ttl_grnd_flr','ttl_dwn_flr','bldng_us_clssfctn']
wnd_cols = ['fr_yn', 'tmprtr','prcpttn','wnd_spd','wnd_drctn','hmdt']
ele_cols = ['fr_yn']
gas_cols = ['fr_yn']

date1 = int('201401')
date2 = int('201413')
for i in range(date1, date2):
    #print('ele_engry_us_' + str(i))
    ele_cols.append('ele_engry_us_' + str(i))

date1 = int('201501')
date2 = int('201513')
for i in range(date1, date2):
    #print('ele_engry_us_' + str(i))
    ele_cols.append('ele_engry_us_' + str(i))

date1 = int('201601')
date2 = int('201613')
for i in range(date1, date2):
    #print('ele_engry_us_' + str(i))
    ele_cols.append('ele_engry_us_' + str(i))

date1 = int('201701')
date2 = int('201713')
for i in range(date1, date2):
    #print('ele_engry_us_' + str(i))
    ele_cols.append('ele_engry_us_' + str(i))

date1 = int('201801')
date2 = int('201813')
for i in range(date1, date2):
    #print('ele_engry_us_' + str(i))
    ele_cols.append('ele_engry_us_' + str(i))
    gas_cols.append('ele_engry_us_' + str(i))
lw_cols = ['fr_yn','lw_13101010', 'lw_13101110', 'lw_13101210','lw_13101211','lw_13101310','lw_13101410','lw_13111010','lw_13111110','lw_13121010','lw_13121011','lw_13131010','lw_13131110','lw_13141010','lw_13141011']
etc_cols = ['fr_yn','jmk','rgnl_ar_nm','rgnl_ar_nm2','lnd_us_sttn_nm','rd_sd_nm','emd_nm','hm_cnt','fr_sttn_dstnc','bldng_ar_prc','fr_wthr_fclt_dstnc','fr_mn_cnt','mlt_us_yn','cctv_dstnc','cctv_in_100m','fr_wthr_fclt_in_100m','tbc_rtl_str_dstnc','sft_emrgnc_bll_dstnc','ahsm_dstnc','no_tbc_zn_dstnc','bldng_cnt_in_50m']

In [0]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import SimpleImputer
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder

def hjk_feature_drop(df : pd.DataFrame, col_name :str, y_col='fr_yn',drop_rate=0.5):
    
    ms_rate=df[col_name].isnull().sum()/df.shape[0]
    print ('col_name : ',col_name)
    print ('dtype : ', df[col_name].dtype )
    print ('missing val : ', df[col_name].isnull().sum(), ms_rate*100,'%' )
    if(ms_rate>drop_rate):
        del df[col_name]
        print("deleted")
    print("")

def hjk_feature_missing(df : pd.DataFrame, col_name :str, y_col='fr_yn',strategy='mean'):
    imp = SimpleImputer(strategy=strategy)
            
    print ('col_name : ',col_name)
    print ('dtype : ', df[col_name].dtype )
    df[col_name]=imp.fit_transform((np.reshape(df[col_name].values,(-1,1))))
    print ('nan = ',strategy + '로 변환')
            
def hjk_feature_labeling(df : pd.DataFrame, col_name :str, y_col='fr_yn'):
    le = preprocessing.LabelEncoder()
    df[col_name]=le.fit_transform(df[col_name])

def hjk_feature_onehot(df : pd.DataFrame, col_name :str, y_col='fr_yn',unique_num=40):
    if(len(df[col_name].unique())<unique_num):
        enc = OneHotEncoder(handle_unknown='ignore')
        col=np.reshape(df[col_name].values,(-1,1))
        col=enc.fit_transform(col).toarray()
        col=pd.DataFrame(col,columns=list(col_name + "_" + str(i) for i in range(len(df[col_name].unique()))))
        df = df.reset_index(drop=True)
        df=pd.concat([df,col],axis = 1)
        del df[col_name]
    return df

In [0]:
all_f=all_df.columns.to_list()
print (len(all_f))

180

In [0]:
for f in all_f:
    hjk_feature_drop(all_df,f)

gas_engry_us_201511
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201512
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201601
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201602
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201603
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201604
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201605
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201606
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201607
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201608
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201609
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201610
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201611
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201612
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201701
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201702
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201703
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201704
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201705
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201706
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201707
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201708
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201709
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201710
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201711
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201712
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201801
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201802
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201803
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201804
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201805
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201806
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201807
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201808
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201809
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201810
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201811
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201812
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  hm_cnt
dtype :  float64
missing val :  702 1.016595707707012 %

col_name :  hmdt
dtype :  float64
missing val :  27 0.03909983491180815 %

col_name :  id
dtype :  int64
missing val :  0 0.0 %

col_name :  jmk
dtype :  object
missing val :  0 0.0 %

col_name :  lnd_ar
dtype :  float64
missing val :  0 0.0 %

col_name :  lnd_us_sttn_nm
dtype :  object
missing val :  2012 2.9136617719465923 %

col_name :  lw_13101010
dtype :  float64
missing val :  68611 99.35847307903958 %
deleted

col_name :  lw_13101110
dtype :  float64
missing val :  68622 99.37440264141108 %
deleted

col_name :  lw_13101210
dtype :  float64
missing val :  68616 99.36571378920844 %
deleted

col_name :  lw_13101211
dtype :  float64
missing val :  68615 99.36426564717468 %
deleted

col_name :  lw_13101310
dtype :  float64
missing val :  68621 99.3729544993773 %
deleted

col_name :  lw_13101410
dtype :  float64
missing val :  68630 99.38598777768124 %
deleted

col_name :  lw_13111010
dtype :  float64
missing val :  68613 99.36136936310713 %
deleted

col_name :  lw_13111110
dtype :  float64
missing val :  68632 99.38888406174877 %
deleted

col_name :  lw_13121010
dtype :  float64
missing val :  68640 99.40046919801894 %
deleted

col_name :  lw_13121011
dtype :  float64
missing val :  68640 99.40046919801894 %
deleted

col_name :  lw_13131010
dtype :  float64
missing val :  68617 99.36716193124222 %
deleted

col_name :  lw_13131110
dtype :  float64
missing val :  68617 99.36716193124222 %
deleted

col_name :  lw_13141010
dtype :  float64
missing val :  68621 99.3729544993773 %
deleted

col_name :  lw_13141011
dtype :  float64
missing val :  68622 99.37440264141108 %
deleted

col_name :  mlt_us_yn
dtype :  object
missing val :  0 0.0 %

col_name :  no_tbc_zn_dstnc
dtype :  int64
missing val :  0 0.0 %

col_name :  prcpttn
dtype :  float64
missing val :  62721 90.82891650013033 %
deleted

col_name :  rd_sd_nm
dtype :  object
missing val :  1623 2.3503345208098008 %

col_name :  rgnl_ar_nm
dtype :  object
missing val :  1623 2.3503345208098008 %

col_name :  rgnl_ar_nm2
dtype :  object
missing val :  1623 2.3503345208098008 %

col_name :  sft_emrgnc_bll_dstnc
dtype :  int64
missing val :  0 0.0 %

col_name :  slf_fr_brgd_yn
dtype :  object
missing val :  57276 82.94378312624903 %
deleted

col_name :  tbc_rtl_str_dstnc
dtype :  int64
missing val :  0 0.0 %

col_name :  tmprtr
dtype :  float64
missing val :  15 0.021722130506560085 %

col_name :  trgt_crtr
dtype :  object
missing val :  60140 87.09126191096823 %
deleted

col_name :  ttl_ar
dtype :  float64
missing val :  0 0.0 %

col_name :  ttl_dwn_flr
dtype :  float64
missing val :  12329 17.85414313435862 %

col_name :  ttl_grnd_flr
dtype :  float64
missing val :  11348 16.43351579922959 %

col_name :  us_yn
dtype :  object
missing val :  57276 82.94378312624903 %
deleted

col_name :  wnd_drctn
dtype :  float64
missing val :  237 0.3432096620036493 %

col_name :  wnd_spd
dtype :  float64
missing val :  38 0.05502939728328555 %

col_name :  ahsm_dstnc
dtype :  int64
missing val :  0 0.0 %

col_name :  bldng_ar
dtype :  float64
missing val :  0 0.0 %

col_name :  bldng_ar_prc
dtype :  float64
missing val :  26325 38.12233903901295 %

col_name :  bldng_archtctr
dtype :  object
missing val :  29224 42.32050279491413 %

col_name :  bldng_cnt
dtype :  int64
missing val :  0 0.0 %

col_name :  bldng_cnt_in_50m
dtype :  int64
missing val :  0 0.0 %

col_name :  bldng_us
dtype :  object
missing val :  29259 42.3711877660961 %

col_name :  bldng_us_clssfctn
dtype :  object
missing val :  31642 45.82211023257161 %

col_name :  blk_dngrs_thng_mnfctr_yn
dtype :  object
missing val :  57276 82.94378312624903 %
deleted

col_name :  cctv_dstnc
dtype :  int64
missing val :  0 0.0 %

col_name :  cctv_in_100m
dtype :  int64
missing val :  0 0.0 %

col_name :  cltrl_hrtg_yn
dtype :  object
missing val :  57276 82.94378312624903 %
deleted

col_name :  dngrs_thng_yn
dtype :  object
missing val :  57276 82.94378312624903 %
deleted

col_name :  dt_of_athrztn
dtype :  object
missing val :  29132 42.187273727807224 %

col_name :  dt_of_fr
dtype :  object
missing val :  0 0.0 %

col_name :  ele_engry_us_201401
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201402
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201403
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201404
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201405
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201406
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201407
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201408
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201409
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201410
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201411
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201412
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201501
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201502
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201503
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201504
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201505
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201506
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201507
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201508
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201509
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201510
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201511
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201512
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201601
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201602
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201603
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201604
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201605
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201606
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201607
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201608
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201609
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201610
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201611
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201612
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201701
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201702
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201703
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201704
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201705
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201706
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201707
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201708
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201709
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201710
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201711
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201712
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201801
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201802
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201803
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201804
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201805
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201806
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201807
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201808
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201809
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201810
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201811
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  ele_engry_us_201812
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  emd_nm
dtype :  object
missing val :  4 0.005792568135082689 %

col_name :  fr_fghtng_fclt_spcl_css_5_yn
dtype :  object
missing val :  58863 85.24198453384308 %
deleted

col_name :  fr_fghtng_fclt_spcl_css_6_yn
dtype :  object
missing val :  58863 85.24198453384308 %
deleted

col_name :  fr_mn_cnt
dtype :  float64
missing val :  42 0.06082196541836824 %

col_name :  fr_sttn_dstnc
dtype :  int64
missing val :  0 0.0 %

col_name :  fr_wthr_fclt_dstnc
dtype :  int64
missing val :  0 0.0 %

col_name :  fr_wthr_fclt_in_100m
dtype :  int64
missing val :  0 0.0 %

col_name :  fr_yn
dtype :  int64
missing val :  0 0.0 %

col_name :  gas_engry_us_201401
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201402
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201403
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201404
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201405
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201406
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201407
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201408
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201409
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201410
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201411
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201412
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201501
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201502
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201503
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201504
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201505
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201506
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201507
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201508
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201509
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201510
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201511
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201512
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201601
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201602
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201603
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201604
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201605
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201606
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201607
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201608
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201609
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201610
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201611
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201612
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201701
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201702
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201703
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201704
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201705
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201706
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201707
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201708
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201709
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201710
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201711
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201712
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201801
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201802
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201803
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201804
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201805
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201806
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201807
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201808
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201809
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201810
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201811
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  gas_engry_us_201812
dtype :  float64
missing val :  29132 42.187273727807224 %

col_name :  hm_cnt
dtype :  float64
missing val :  702 1.016595707707012 %

col_name :  hmdt
dtype :  float64
missing val :  27 0.03909983491180815 %

col_name :  id
dtype :  int64
missing val :  0 0.0 %

col_name :  jmk
dtype :  object
missing val :  0 0.0 %

col_name :  lnd_ar
dtype :  float64
missing val :  0 0.0 %

col_name :  lnd_us_sttn_nm
dtype :  object
missing val :  2012 2.9136617719465923 %

col_name :  lw_13101010
dtype :  float64
missing val :  68611 99.35847307903958 %
deleted

col_name :  lw_13101110
dtype :  float64
missing val :  68622 99.37440264141108 %
deleted

col_name :  lw_13101210
dtype :  float64
missing val :  68616 99.36571378920844 %
deleted


In [0]:
all_f=all_df.columns.to_list()
print (len(all_f))

157
157

In [0]:
all_f=all_df.columns.to_list()
cat_f=all_df.columns.to_list()
num_f=all_df.describe().columns.to_list()
for f in num_f:
    cat_f.remove(f)

In [0]:
for f in num_f:
    hjk_feature_missing(all_df,f)

col_name :  ahsm_dstnc
dtype :  int64
nan =  mean로 변환
col_name :  bldng_ar
dtype :  float64
nan =  mean로 변환
col_name :  bldng_ar_prc
dtype :  float64
nan =  mean로 변환
col_name :  bldng_cnt
dtype :  int64
nan =  mean로 변환
col_name :  bldng_cnt_in_50m
dtype :  int64
nan =  mean로 변환
col_name :  cctv_dstnc
dtype :  int64
nan =  mean로 변환
col_name :  cctv_in_100m
dtype :  int64
nan =  mean로 변환
col_name :  ele_engry_us_201401
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201402
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201403
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201404
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201405
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201406
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201407
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201408
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201409
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201410
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201411
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201412
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201501
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201502
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201503
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201504
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201505
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201506
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201507
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201508
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201509
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201510
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201511
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201512
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201601
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201602
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201603
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201604
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201605
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201606
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201607
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201608
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201609
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201610
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201611
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201612
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201701
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201702
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201703
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201704
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201705
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201706
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201707
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201708
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201709
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201710
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201711
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201712
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201801
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201802
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201803
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201804
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201805
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201806
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201807
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201808
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201809
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201810
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201811
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201812
dtype :  float64
nan =  mean로 변환
col_name :  fr_mn_cnt
dtype :  float64
nan =  mean로 변환
col_name :  fr_sttn_dstnc
dtype :  int64
nan =  mean로 변환
col_name :  fr_wthr_fclt_dstnc
dtype :  int64
nan =  mean로 변환
col_name :  fr_wthr_fclt_in_100m
dtype :  int64
nan =  mean로 변환
col_name :  fr_yn
dtype :  int64
nan =  mean로 변환
col_name :  gas_engry_us_201401
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201402
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201403
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201404
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201405
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201406
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201407
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201408
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201409
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201410
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201411
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201412
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201501
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201502
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201503
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201504
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201505
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201506
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201507
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201508
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201509
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201510
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201511
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201512
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201601
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201602
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201603
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201604
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201605
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201606
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201607
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201608
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201609
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201610
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201611
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201612
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201701
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201702
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201703
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201704
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201705
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201706
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201707
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201708
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201709
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201710
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201711
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201712
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201801
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201802
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201803
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201804
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201805
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201806
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201807
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201808
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201809
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201810
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201811
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201812
dtype :  float64
nan =  mean로 변환
col_name :  hm_cnt
dtype :  float64
nan =  mean로 변환
col_name :  hmdt
dtype :  float64
nan =  mean로 변환
col_name :  id
dtype :  int64
nan =  mean로 변환
col_name :  lnd_ar
dtype :  float64
nan =  mean로 변환
col_name :  no_tbc_zn_dstnc
dtype :  int64
nan =  mean로 변환
col_name :  sft_emrgnc_bll_dstnc
dtype :  int64
nan =  mean로 변환
col_name :  tbc_rtl_str_dstnc
dtype :  int64
nan =  mean로 변환
col_name :  tmprtr
dtype :  float64
nan =  mean로 변환
col_name :  ttl_ar
dtype :  float64
nan =  mean로 변환
col_name :  ttl_dwn_flr
dtype :  float64
nan =  mean로 변환
col_name :  ttl_grnd_flr
dtype :  float64
nan =  mean로 변환
col_name :  wnd_drctn
dtype :  float64
nan =  mean로 변환
col_name :  wnd_spd
dtype :  float64
nan =  mean로 변환
col_name :  ahsm_dstnc
dtype :  int64
nan =  mean로 변환
col_name :  bldng_ar
dtype :  float64
nan =  mean로 변환
col_name :  bldng_ar_prc
dtype :  float64
nan =  mean로 변환
col_name :  bldng_cnt
dtype :  int64
nan =  mean로 변환
col_name :  bldng_cnt_in_50m
dtype :  int64
nan =  mean로 변환
col_name :  cctv_dstnc
dtype :  int64
nan =  mean로 변환
col_name :  cctv_in_100m
dtype :  int64
nan =  mean로 변환
col_name :  ele_engry_us_201401
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201402
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201403
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201404
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201405
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201406
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201407
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201408
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201409
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201410
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201411
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201412
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201501
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201502
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201503
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201504
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201505
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201506
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201507
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201508
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201509
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201510
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201511
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201512
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201601
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201602
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201603
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201604
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201605
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201606
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201607
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201608
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201609
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201610
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201611
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201612
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201701
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201702
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201703
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201704
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201705
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201706
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201707
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201708
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201709
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201710
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201711
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201712
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201801
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201802
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201803
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201804
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201805
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201806
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201807
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201808
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201809
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201810
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201811
dtype :  float64
nan =  mean로 변환
col_name :  ele_engry_us_201812
dtype :  float64
nan =  mean로 변환
col_name :  fr_mn_cnt
dtype :  float64
nan =  mean로 변환
col_name :  fr_sttn_dstnc
dtype :  int64
nan =  mean로 변환
col_name :  fr_wthr_fclt_dstnc
dtype :  int64
nan =  mean로 변환
col_name :  fr_wthr_fclt_in_100m
dtype :  int64
nan =  mean로 변환
col_name :  fr_yn
dtype :  int64
nan =  mean로 변환
col_name :  gas_engry_us_201401
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201402
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201403
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201404
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201405
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201406
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201407
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201408
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201409
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201410
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201411
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201412
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201501
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201502
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201503
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201504
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201505
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201506
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201507
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201508
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201509
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201510
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201511
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201512
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201601
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201602
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201603
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201604
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201605
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201606
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201607
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201608
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201609
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201610
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201611
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201612
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201701
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201702
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201703
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201704
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201705
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201706
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201707
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201708
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201709
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201710
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201711
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201712
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201801
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201802
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201803
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201804
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201805
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201806
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201807
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201808
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201809
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201810
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201811
dtype :  float64
nan =  mean로 변환
col_name :  gas_engry_us_201812
dtype :  float64
nan =  mean로 변환
col_name :  hm_cnt
dtype :  float64
nan =  mean로 변환
col_name :  hmdt
dtype :  float64
nan =  mean로 변환
col_name :  id
dtype :  int64
nan =  mean로 변환
col_name :  lnd_ar
dtype :  float64
nan =  mean로 변환
col_name :  no_tbc_zn_dstnc
dtype :  int64
nan =  mean로 변환
col_name :  sft_emrgnc_bll_dstnc
dtype :  int64
nan =  mean로 변환
col_name :  tbc_rtl_str_dstnc
dtype :  int64
nan =  mean로 변환
col_name :  tmprtr
dtype :  float64
nan =  mean로 변환
col_name :  ttl_ar
dtype :  float64
nan =  mean로 변환
col_name :  ttl_dwn_flr
dtype :  float64
nan =  mean로 변환
col_name :  ttl_grnd_flr
dtype :  float64
nan =  mean로 변환
col_name :  wnd_drctn
dtype :  float64
nan =  mean로 변환
col_name :  wnd_spd
dtype :  float64
nan =  mean로 변환

In [0]:
all_df['dt_of_athrztn']=all_df['dt_of_athrztn'].apply(lambda x : str(x)[:4])
hjk_feature_missing(all_df,'dt_of_athrztn')
all_df['dt_of_athrztn']=all_df['dt_of_athrztn'].astype('int64')

col_name :  dt_of_athrztn
dtype :  object
nan =  mean로 변환
col_name :  dt_of_athrztn
dtype :  object
nan =  mean로 변환

In [0]:
all_df['dt_of_fr']=pd.to_datetime(all_df['dt_of_fr'])

In [0]:
all_df['month']=all_df['dt_of_fr'].dt.month
all_df['hour']=all_df['dt_of_fr'].dt.hour
all_df['weekday']=all_df['dt_of_fr'].dt.weekday

In [0]:
del all_df['dt_of_fr']

In [0]:
hjk_feature_missing(all_df,'month')
hjk_feature_missing(all_df,'hour')
hjk_feature_missing(all_df,'weekday')

col_name :  month
dtype :  int64
nan =  mean로 변환
col_name :  hour
dtype :  int64
nan =  mean로 변환
col_name :  weekday
dtype :  int64
nan =  mean로 변환
col_name :  month
dtype :  int64
nan =  mean로 변환
col_name :  hour
dtype :  int64
nan =  mean로 변환
col_name :  weekday
dtype :  int64
nan =  mean로 변환

In [0]:
del all_df['emd_nm']

In [0]:
all_f=all_df.columns.to_list()
cat_f=all_df.columns.to_list()
num_f=all_df.describe().columns.to_list()
for f in num_f:
    cat_f.remove(f)
print (len(all_f))
print (len(cat_f))
print (len(num_f))

158
9
149
158
9
149

In [0]:
for f in cat_f:
    hjk_feature_missing(all_df,f,strategy='most_frequent')

col_name :  bldng_archtctr
dtype :  object
nan =  most_frequent로 변환
col_name :  bldng_us
dtype :  object
nan =  most_frequent로 변환
col_name :  bldng_us_clssfctn
dtype :  object
nan =  most_frequent로 변환
col_name :  jmk
dtype :  object
nan =  most_frequent로 변환
col_name :  lnd_us_sttn_nm
dtype :  object
nan =  most_frequent로 변환
col_name :  mlt_us_yn
dtype :  object
nan =  most_frequent로 변환
col_name :  rd_sd_nm
dtype :  object
nan =  most_frequent로 변환
col_name :  rgnl_ar_nm
dtype :  object
nan =  most_frequent로 변환
col_name :  rgnl_ar_nm2
dtype :  object
nan =  most_frequent로 변환
col_name :  bldng_archtctr
dtype :  object
nan =  most_frequent로 변환
col_name :  bldng_us
dtype :  object
nan =  most_frequent로 변환
col_name :  bldng_us_clssfctn
dtype :  object
nan =  most_frequent로 변환
col_name :  jmk
dtype :  object
nan =  most_frequent로 변환
col_name :  lnd_us_sttn_nm
dtype :  object
nan =  most_frequent로 변환
col_name :  mlt_us_yn
dtype :  object
nan =  most_frequent로 변환
col_name :  rd_sd_nm
dtype :  object
nan =  most_frequent로 변환
col_name :  rgnl_ar_nm
dtype :  object
nan =  most_frequent로 변환
col_name :  rgnl_ar_nm2
dtype :  object
nan =  most_frequent로 변환

In [0]:
for f in cat_f:
    hjk_feature_labeling(all_df,f)

In [0]:
all_df.head()

   ahsm_dstnc  bldng_ar   bldng_ar_prc  ...  month  hour  weekday
0     11322.0     69.42  700709.984647  ...   10.0   5.0      4.0
1      3369.0     46.29  122581.000000  ...    9.0   8.0      6.0
2     12451.0    583.80  618105.000000  ...   10.0  14.0      6.0
3       407.0     48.92  719542.000000  ...    6.0   5.0      1.0
4     12487.0      0.00  700709.984647  ...    4.0   5.0      6.0

[5 rows x 158 columns]

   ahsm_dstnc  bldng_ar   bldng_ar_prc  ...  month  hour  weekday
0     11322.0     69.42  700709.984647  ...   10.0   5.0      4.0
1      3369.0     46.29  122581.000000  ...    9.0   8.0      6.0
2     12451.0    583.80  618105.000000  ...   10.0  14.0      6.0
3       407.0     48.92  719542.000000  ...    6.0   5.0      1.0
4     12487.0      0.00  700709.984647  ...    4.0   5.0      6.0

[5 rows x 158 columns]

In [0]:
all_f=all_df.columns.to_list()
cat_f=all_df.columns.to_list()
num_f=all_df.describe().columns.to_list()
for f in num_f:
    cat_f.remove(f)
print (len(all_f))
print (len(cat_f))
print (len(num_f))

158
0
158
158
0
158

In [0]:
all_f.remove('fr_yn')

In [0]:
l=[]
for f in all_f:
    if(len(all_df[f].unique())<40):
        l.append(f)
l

['bldng_archtctr',
 'bldng_us',
 'bldng_us_clssfctn',
 'cctv_in_100m',
 'fr_mn_cnt',
 'fr_wthr_fclt_in_100m',
 'jmk',
 'mlt_us_yn',
 'rd_sd_nm',
 'rgnl_ar_nm',
 'rgnl_ar_nm2',
 'ttl_dwn_flr',
 'wnd_drctn',
 'month',
 'hour',
 'weekday']

['bldng_archtctr',
 'bldng_us',
 'bldng_us_clssfctn',
 'cctv_in_100m',
 'fr_mn_cnt',
 'fr_wthr_fclt_in_100m',
 'jmk',
 'mlt_us_yn',
 'rd_sd_nm',
 'rgnl_ar_nm',
 'rgnl_ar_nm2',
 'ttl_dwn_flr',
 'wnd_drctn',
 'month',
 'hour',
 'weekday']

In [0]:
for f in all_f:
    all_df=hjk_feature_onehot(all_df,f)

In [0]:
all_df.head()

   ahsm_dstnc  bldng_ar   bldng_ar_prc  ...  weekday_4  weekday_5  weekday_6
0     11322.0     69.42  700709.984647  ...        1.0        0.0        0.0
1      3369.0     46.29  122581.000000  ...        0.0        0.0        1.0
2     12451.0    583.80  618105.000000  ...        0.0        0.0        1.0
3       407.0     48.92  719542.000000  ...        0.0        0.0        0.0
4     12487.0      0.00  700709.984647  ...        0.0        0.0        1.0

[5 rows x 437 columns]

   ahsm_dstnc  bldng_ar   bldng_ar_prc  ...  weekday_4  weekday_5  weekday_6
0     11322.0     69.42  700709.984647  ...        1.0        0.0        0.0
1      3369.0     46.29  122581.000000  ...        0.0        0.0        1.0
2     12451.0    583.80  618105.000000  ...        0.0        0.0        1.0
3       407.0     48.92  719542.000000  ...        0.0        0.0        0.0
4     12487.0      0.00  700709.984647  ...        0.0        0.0        1.0

[5 rows x 437 columns]

In [0]:
all_y=all_df['fr_yn'].as_matrix()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [0]:
all_f=all_df.columns.to_list()
all_f.remove('fr_yn')

In [0]:
# from sklearn.preprocessing import MinMaxScaler
# scaler = MinMaxScaler()
# all_df_minmax =scaler.fit_transform(all_df[all_f])

In [0]:
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()
all_df_minmax =scaler.fit_transform(all_df[all_f])

In [0]:
# from sklearn.decomposition import PCA
# pca = PCA(n_components=200)
# all_df_pca=pca.fit_transform(all_df_minmax)

In [0]:
# print(all_y.shape)
# print(all_df_pca.shape)
# print(pca.explained_variance_ratio_.sum())

In [0]:
all_y=np.reshape(all_y,(-1,1))
all_DF=pd.DataFrame(all_df_minmax)
all_DF_Y=pd.DataFrame(all_y,columns=['LABEL'])
all_DF=pd.concat([all_DF,all_DF_Y],axis = 1)

In [0]:
all_f=all_DF.columns.to_list()
all_f.remove('LABEL')
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
all_DF[all_f] =scaler.fit_transform(all_DF[all_f])

In [0]:
all_DF.head()

          0         1         2         3         4  ...  432  433  434  435  LABEL
0  0.200443  0.000121  0.043593  0.002841  0.000000  ...  0.0  1.0  0.0  0.0    1.0
1  0.059644  0.000081  0.006703  0.002841  0.000000  ...  0.0  0.0  0.0  1.0    0.0
2  0.220430  0.001019  0.038322  0.000000  0.166667  ...  0.0  0.0  0.0  1.0    1.0
3  0.007205  0.000085  0.044794  0.001420  0.130952  ...  0.0  0.0  0.0  0.0    0.0
4  0.221068  0.000000  0.043593  0.001420  0.000000  ...  0.0  0.0  0.0  1.0    0.0

[5 rows x 437 columns]

In [0]:
all_DF.to_csv('/gdrive/My Drive/김해화재/all_DF.csv')

In [0]:
stack_model=pd.DataFrame()
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
lda=LinearDiscriminantAnalysis()
lda.fit(all_DF[all_DF['LABEL']!=-1].iloc[:,0:436], all_DF[all_DF['LABEL']!=-1]['LABEL'])
a=lda.transform(all_DF.iloc[:,0:436])

/usr/local/lib/python3.6/dist-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

In [0]:
stack_model['lda']=np.reshape(a,(-1,))

In [0]:
train_DF=all_DF[:train_df.shape[0]]
val_DF=all_DF[train_df.shape[0]:train_df.shape[0]+val_df.shape[0]]
test_DF=all_DF[all_DF['LABEL']==-1]

train_DF_Y=train_DF['LABEL']
val_DF_Y=val_DF['LABEL']
train_DF_normal=train_DF[train_DF['LABEL']==0]
train_DF_fire=train_DF[train_DF['LABEL']==1]

train_DF=train_DF.drop('LABEL', axis = 1)
val_DF=val_DF.drop('LABEL', axis = 1)
test_DF=test_DF.drop('LABEL', axis = 1)

train_DF_normal=train_DF_normal.drop('LABEL', axis = 1)
train_DF_fire=train_DF_fire.drop('LABEL', axis = 1)

In [0]:
f=train_DF_normal.columns.to_list()
for fe in f:
    print (fe,"정상 평균 : ", train_DF_normal[fe].mean())
    print (fe,"정상 표준편차 : ", train_DF_normal[fe].std())
    print (fe,"화재 평균 : ", train_DF_fire[fe].mean())
    print (fe,"화재 표준편차 : ", train_DF_fire[fe].std())
    print ("")

In [0]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score, accuracy_score, precision_score, recall_score
decision_tree = DecisionTreeClassifier(random_state=0, max_depth=5)
decision_tree = decision_tree.fit(train_DF, train_DF_Y)
y_pred=decision_tree.predict(val_DF)
print ("accuracy_score : " , accuracy_score(val_DF_Y, y_pred))
print ("f1_score : " , f1_score(val_DF_Y, y_pred))
print ("precision_score : " , precision_score(val_DF_Y, y_pred))
print ("recall_score : " , recall_score(val_DF_Y, y_pred))

accuracy_score :  0.7945781385908959
f1_score :  0.4930232558139535
precision_score :  0.45239658568614577
recall_score :  0.5416666666666666

In [0]:
stack_model['tree']=np.reshape(decision_tree.predict_proba(all_DF.iloc[:,0:436])[:,1],(-1,1))

In [0]:
from  sklearn.ensemble import RandomForestClassifier
rf_clf = RandomForestClassifier(n_jobs=-1, n_estimators=100, random_state=42)
rf_clf.fit(train_DF, train_DF_Y)
y_pred=rf_clf.predict(val_DF)
print ("accuracy_score : " , accuracy_score(val_DF_Y, y_pred))
print ("f1_score : " , f1_score(val_DF_Y, y_pred))
print ("precision_score : " , precision_score(val_DF_Y, y_pred))
print ("recall_score : " , recall_score(val_DF_Y, y_pred))

accuracy_score :  0.8100898811249637
f1_score :  0.5097305389221557
precision_score :  0.48642857142857143
recall_score :  0.535377358490566

In [0]:
stack_model['rf']=np.reshape(rf_clf.predict_proba(all_DF.iloc[:,0:436])[:,1],(-1,1))

In [0]:
import xgboost as xgb
xgb_model = xgb.XGBClassifier(objective="binary:logistic", random_state=42)
xgb_model.fit(train_DF, train_DF_Y)
y_pred = xgb_model.predict(val_DF)
print ("accuracy_score : " , accuracy_score(val_DF_Y, y_pred))
print ("f1_score : " , f1_score(val_DF_Y, y_pred))
print ("precision_score : " , precision_score(val_DF_Y, y_pred))
print ("recall_score : " , recall_score(val_DF_Y, y_pred))

accuracy_score :  0.8079153377790664
f1_score :  0.5176556243174372
precision_score :  0.48203389830508475
recall_score :  0.5589622641509434

In [0]:
stack_model['xgb']=np.reshape(xgb_model.predict_proba(all_DF.iloc[:,0:436])[:,1],(-1,1))

In [0]:
class HJK_NN:
    def __init__(self,batch_size=128, input_size=436):
        self.batch_size=batch_size
        self.input_size=input_size
        self.lr = 0.001
        self.dropout_rate = 0.3
        self.val_ratio = 0.3
        self.buld_model()
    
    def buld_model(self):
        self.model = Sequential()
        
        self.model.add(Dense(100,activation='relu',input_shape=(self.input_size,)))
        self.model.add(Dropout(rate=self.dropout_rate))
        self.model.add(BatchNormalization(axis=-1, momentum=0.99, epsilon=0.001, center=True, scale=True))

        self.model.add(Dense(20,activation='relu'))
        self.model.add(Dropout(rate=self.dropout_rate))
        self.model.add(BatchNormalization(axis=-1, momentum=0.99, epsilon=0.001, center=True, scale=True))

        # self.model.add(Dense(100,activation='relu'))
        # self.model.add(Dropout(rate=self.dropout_rate))
        # self.model.add(BatchNormalization(axis=-1, momentum=0.99, epsilon=0.001, center=True, scale=True))

        # self.model.add(Dense(50,activation='relu'))
        # self.model.add(Dropout(rate=self.dropout_rate))
        # self.model.add(BatchNormalization(axis=-1, momentum=0.99, epsilon=0.001, center=True, scale=True))

        # self.model.add(Dense(20,activation='relu'))
        # self.model.add(Dropout(rate=self.dropout_rate))
        # self.model.add(BatchNormalization(axis=-1, momentum=0.99, epsilon=0.001, center=True, scale=True))
        
        # self.model.add(Dense(10,activation='relu'))
        # self.model.add(Dropout(rate=self.dropout_rate))
        # self.model.add(BatchNormalization(axis=-1, momentum=0.99, epsilon=0.001, center=True, scale=True))

        self.model.add(Dense(1, activation='sigmoid'))
        self.model.compile(loss=self.hjk_loss, metrics=['acc',self.f1_m,self.precision_m, self.recall_m],optimizer=Adam(self.lr))

    def hjk_train(self,trian_X,train_Y,epochs=20):
        self.model.fit(trian_X,train_Y,batch_size=self.batch_size,epochs=epochs,validation_split=self.val_ratio)
    
    def hjk_predict(self,trian_X):
        return self.model.predict(trian_X)
           
    def recall_m(self,y_true, y_pred):
        true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
        possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
        recall = true_positives / (possible_positives + K.epsilon())
        return recall

    def precision_m(self,y_true, y_pred):
        true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
        predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
        precision = true_positives / (predicted_positives + K.epsilon())
        return precision

    def f1_m(self,y_true, y_pred):
        precision = self.precision_m(y_true, y_pred)
        recall = self.recall_m(y_true, y_pred)
        return 2*((precision*recall)/(precision+recall+K.epsilon()))
    
    def hjk_loss(self,y_true,y_pred):
        bce = 5*y_true * K.log(y_pred + K.epsilon())
        bce += (1 - y_true) * K.log(1 - y_pred + K.epsilon())
        return -bce

    def f1_loss(self,y_true, y_pred):
        tp = K.sum(K.cast(y_true*y_pred, 'float'), axis=0)
        tn = K.sum(K.cast((1-y_true)*(1-y_pred), 'float'), axis=0)
        fp = K.sum(K.cast((1-y_true)*y_pred, 'float'), axis=0)
        fn = K.sum(K.cast(y_true*(1-y_pred), 'float'), axis=0)
        p = tp / (tp + fp + K.epsilon())
        r = tp / (tp + fn + K.epsilon())
        f1 = 2*p*r / (p+r+K.epsilon())
        f1 = K.clip(f1,K.epsilon(),1-K.epsilon())
        return 1 - K.mean(f1)

In [0]:
hjk=HJK_NN()

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.

In [0]:
hjk.hjk_train(train_DF.as_matrix(),train_DF_Y.as_matrix(),20)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Train on 41439 samples, validate on 17760 samples
Epoch 1/20
41439/41439 [==============================] - 4s 107us/sample - loss: 0.7566 - acc: 0.7421 - f1_m: 0.4036 - precision_m: 0.2788 - recall_m: 0.7795 - val_loss: 1.2681 - val_acc: 0.8341 - val_f1_m: 0.0648 - val_precision_m: 0.4544 - val_recall_m: 0.0354
Epoch 2/20
41439/41439 [==============================] - 3s 79us/sample - loss: 0.6175 - acc: 0.7928 - f1_m: 0.4481 - precision_m: 0.3239 - recall_m: 0.7691 - val_loss: 1.1895 - val_acc: 0.8355 - val_f1_m: 0.0770 - val_precision_m: 0.5342 - val_recall_m: 0.0423
Epoch 3/20
41439/41439 [==============================] - 3s 77us/sample - loss: 0.5718 - acc: 0.8070 - f1_m: 0.4694 - precision_m: 0.3439 - recall_m: 0.7809 - val_loss: 1.1306 - val_acc: 0.8352 - val_f1_m: 0.0720 - val_precision_m: 0.4916 - val_recall_m: 0.0395
Epoch 4/20
41439/41439 [==============================] - 3s 81us/sample - loss: 0.5488 - acc: 0.8067 - f1_m: 0.4772 - precision_m: 0.3472 - recall_m: 0.8122 - val_loss: 1.0413 - val_acc: 0.8368 - val_f1_m: 0.1083 - val_precision_m: 0.5825 - val_recall_m: 0.0613
Epoch 5/20
41439/41439 [==============================] - 3s 78us/sample - loss: 0.5305 - acc: 0.8148 - f1_m: 0.4900 - precision_m: 0.3591 - recall_m: 0.8129 - val_loss: 0.9914 - val_acc: 0.8421 - val_f1_m: 0.1612 - val_precision_m: 0.7154 - val_recall_m: 0.0936
Epoch 6/20
41439/41439 [==============================] - 3s 78us/sample - loss: 0.5273 - acc: 0.8134 - f1_m: 0.4890 - precision_m: 0.3582 - recall_m: 0.8192 - val_loss: 0.9707 - val_acc: 0.8502 - val_f1_m: 0.2831 - val_precision_m: 0.7171 - val_recall_m: 0.1815
Epoch 7/20
41439/41439 [==============================] - 3s 78us/sample - loss: 0.5135 - acc: 0.8215 - f1_m: 0.5017 - precision_m: 0.3722 - recall_m: 0.8202 - val_loss: 0.9725 - val_acc: 0.8550 - val_f1_m: 0.4101 - val_precision_m: 0.6359 - val_recall_m: 0.3102
Epoch 8/20
41439/41439 [==============================] - 3s 78us/sample - loss: 0.5101 - acc: 0.8176 - f1_m: 0.4985 - precision_m: 0.3661 - recall_m: 0.8275 - val_loss: 0.9121 - val_acc: 0.8545 - val_f1_m: 0.4586 - val_precision_m: 0.6170 - val_recall_m: 0.3753
Epoch 9/20
41439/41439 [==============================] - 3s 82us/sample - loss: 0.5040 - acc: 0.8217 - f1_m: 0.5053 - precision_m: 0.3724 - recall_m: 0.8331 - val_loss: 0.8846 - val_acc: 0.8507 - val_f1_m: 0.5031 - val_precision_m: 0.5715 - val_recall_m: 0.4583
Epoch 10/20
41439/41439 [==============================] - 3s 78us/sample - loss: 0.4957 - acc: 0.8229 - f1_m: 0.5123 - precision_m: 0.3770 - recall_m: 0.8484 - val_loss: 0.9385 - val_acc: 0.8539 - val_f1_m: 0.4364 - val_precision_m: 0.6156 - val_recall_m: 0.3474
Epoch 11/20
41439/41439 [==============================] - 3s 81us/sample - loss: 0.4937 - acc: 0.8237 - f1_m: 0.5102 - precision_m: 0.3761 - recall_m: 0.8391 - val_loss: 0.9451 - val_acc: 0.8490 - val_f1_m: 0.5185 - val_precision_m: 0.5636 - val_recall_m: 0.4900
Epoch 12/20
41439/41439 [==============================] - 3s 81us/sample - loss: 0.4865 - acc: 0.8266 - f1_m: 0.5156 - precision_m: 0.3815 - recall_m: 0.8423 - val_loss: 0.9472 - val_acc: 0.8465 - val_f1_m: 0.4962 - val_precision_m: 0.5550 - val_recall_m: 0.4607
Epoch 13/20
41439/41439 [==============================] - 3s 77us/sample - loss: 0.4859 - acc: 0.8294 - f1_m: 0.5192 - precision_m: 0.3846 - recall_m: 0.8441 - val_loss: 0.8905 - val_acc: 0.8220 - val_f1_m: 0.5383 - val_precision_m: 0.4793 - val_recall_m: 0.6251
Epoch 14/20
41439/41439 [==============================] - 3s 80us/sample - loss: 0.4826 - acc: 0.8290 - f1_m: 0.5228 - precision_m: 0.3869 - recall_m: 0.8571 - val_loss: 0.9341 - val_acc: 0.8440 - val_f1_m: 0.5092 - val_precision_m: 0.5415 - val_recall_m: 0.4897
Epoch 15/20
41439/41439 [==============================] - 3s 79us/sample - loss: 0.4765 - acc: 0.8341 - f1_m: 0.5265 - precision_m: 0.3936 - recall_m: 0.8421 - val_loss: 0.9814 - val_acc: 0.8474 - val_f1_m: 0.4860 - val_precision_m: 0.5654 - val_recall_m: 0.4350
Epoch 16/20
41439/41439 [==============================] - 3s 81us/sample - loss: 0.4730 - acc: 0.8397 - f1_m: 0.5348 - precision_m: 0.4028 - recall_m: 0.8429 - val_loss: 0.9213 - val_acc: 0.8446 - val_f1_m: 0.5166 - val_precision_m: 0.5432 - val_recall_m: 0.5034
Epoch 17/20
41439/41439 [==============================] - 3s 79us/sample - loss: 0.4709 - acc: 0.8393 - f1_m: 0.5337 - precision_m: 0.4019 - recall_m: 0.8443 - val_loss: 0.9674 - val_acc: 0.8353 - val_f1_m: 0.5319 - val_precision_m: 0.5145 - val_recall_m: 0.5640
Epoch 18/20
41439/41439 [==============================] - 3s 82us/sample - loss: 0.4647 - acc: 0.8447 - f1_m: 0.5422 - precision_m: 0.4115 - recall_m: 0.8424 - val_loss: 0.9194 - val_acc: 0.8533 - val_f1_m: 0.4656 - val_precision_m: 0.6000 - val_recall_m: 0.3895
Epoch 19/20
41439/41439 [==============================] - 3s 76us/sample - loss: 0.4615 - acc: 0.8421 - f1_m: 0.5390 - precision_m: 0.4080 - recall_m: 0.8445 - val_loss: 0.9480 - val_acc: 0.8417 - val_f1_m: 0.5094 - val_precision_m: 0.5333 - val_recall_m: 0.4979
Epoch 20/20
41439/41439 [==============================] - 3s 80us/sample - loss: 0.4593 - acc: 0.8428 - f1_m: 0.5440 - precision_m: 0.4113 - recall_m: 0.8552 - val_loss: 1.0162 - val_acc: 0.8521 - val_f1_m: 0.4444 - val_precision_m: 0.6044 - val_recall_m: 0.3593

In [0]:
hjk.model.evaluate(val_DF.as_matrix(),val_DF_Y.as_matrix())

1568/6898 [=====>........................] - ETA: 0s - loss: 1.1236 - acc: 0.7793 - f1_m: 0.3967 - precision_m: 0.3604 - recall_m: 0.5158

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

6898/6898 [==============================] - 1s 90us/sample - loss: 1.3206 - acc: 0.7773 - f1_m: 0.4431 - precision_m: 0.4178 - recall_m: 0.5222

[1.3206144518422265, 0.77732676, 0.4431081, 0.4178456, 0.5222468]

In [0]:
stack_model['nn']=np.reshape(hjk.model.predict(all_DF.iloc[:,0:436].as_matrix()),(-1,1))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [0]:
stack_model['LABEL']=all_DF['LABEL']

In [0]:
train_DF=stack_model[:train_df.shape[0]]
val_DF=stack_model[train_df.shape[0]:train_df.shape[0]+val_df.shape[0]]
test_DF=stack_model[stack_model['LABEL']==-1]

train_DF_Y=train_DF['LABEL']
val_DF_Y=val_DF['LABEL']
train_DF_normal=train_DF[train_DF['LABEL']==0]
train_DF_fire=train_DF[train_DF['LABEL']==1]

train_DF=train_DF.drop('LABEL', axis = 1)
val_DF=val_DF.drop('LABEL', axis = 1)
test_DF=test_DF.drop('LABEL', axis = 1)

train_DF_normal=train_DF_normal.drop('LABEL', axis = 1)
train_DF_fire=train_DF_fire.drop('LABEL', axis = 1)

In [0]:
stack_model.head()

In [0]:
import xgboost as xgb
xgb_model = xgb.XGBClassifier(objective="binary:logistic", random_state=42)
xgb_model.fit(train_DF, train_DF_Y)
y_pred = xgb_model.predict(val_DF)
print ("accuracy_score : " , accuracy_score(val_DF_Y, y_pred))
print ("f1_score : " , f1_score(val_DF_Y, y_pred))
print ("precision_score : " , precision_score(val_DF_Y, y_pred))
print ("recall_score : " , recall_score(val_DF_Y, y_pred))

accuracy_score :  0.8035662510872716
f1_score :  0.5110068567304221
precision_score :  0.4723148765843896
recall_score :  0.5566037735849056

In [0]:
real_list=np.reshape(hjk.hjk_predict(train_DF.as_matrix()),(-1,1))
dt_list=np.reshape(xgb_model.predict_proba(train_DF)[:,1],(-1,1))
rf_list=np.reshape(rf_clf.predict_proba(train_DF)[:,1],(-1,1))
print(real_list.shape)
print(dt_list.shape)
print(rf_list.shape)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

(59199, 1)
(59199, 1)
(59199, 1)

In [0]:
t_X=np.hstack((real_list,dt_list,rf_list))

In [0]:
stack_model = Sequential()
stack_model.add(Dense(1,activation='sigmoid',input_shape=(3,)))

def recall_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
    recall = true_positives / (possible_positives + K.epsilon())
    return recall

def precision_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
    precision = true_positives / (predicted_positives + K.epsilon())
    return precision

def f1_m(y_true, y_pred):
    precision = precision_m(y_true, y_pred)
    recall = recall_m(y_true, y_pred)
    return 2*((precision*recall)/(precision+recall+K.epsilon()))

def hjk_loss(y_true,y_pred):
    bce = 5*y_true * K.log(y_pred + K.epsilon())
    bce += (1 - y_true) * K.log(1 - y_pred + K.epsilon())
    return -bce   

stack_model.compile(loss=hjk_loss,metrics=['acc',f1_m,precision_m, recall_m],optimizer=Adam(0.01))

In [0]:
stack_model.fit(t_X,train_DF_Y.as_matrix(),batch_size=100,epochs=10,validation_split=0.3)

In [0]:
real_list=np.reshape(hjk.hjk_predict(val_DF.as_matrix()),(-1,1))
dt_list=np.reshape(xgb_model.predict_proba(val_DF)[:,1],(-1,1))
rf_list=np.reshape(rf_clf.predict_proba(val_DF)[:,1],(-1,1))
print(real_list.shape)
print(dt_list.shape)
print(rf_list.shape)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

(6898, 1)
(6898, 1)
(6898, 1)

In [0]:
v_X=np.hstack((real_list,dt_list,rf_list))

In [0]:
y_pred=v_X.mean(axis=1)
y_pred=np.round(y_pred)
print ("accuracy_score : " , accuracy_score(val_DF_Y, y_pred))
print ("f1_score : " , f1_score(val_DF_Y, y_pred))
print ("precision_score : " , precision_score(val_DF_Y, y_pred))
print ("recall_score : " , recall_score(val_DF_Y, y_pred))

accuracy_score :  0.7877645694404175
f1_score :  0.42543171114599687
precision_score :  0.42476489028213166
recall_score :  0.4261006289308176

In [0]:
stack_model.evaluate(v_X,val_DF_Y.as_matrix())

1824/6898 [======>.......................] - ETA: 0s - loss: 2.8936 - acc: 0.7697 - f1_m: 0.3223 - precision_m: 0.3316 - recall_m: 0.3611

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

6898/6898 [==============================] - 1s 84us/sample - loss: 3.0227 - acc: 0.7669 - f1_m: 0.3468 - precision_m: 0.3604 - recall_m: 0.3676

[3.0227415212585327, 0.766889, 0.34676683, 0.36039737, 0.3675857]

In [0]:
real_list=np.reshape(hjk.hjk_predict(test_DF.as_matrix()),(-1,1))
dt_list=np.reshape(xgb_model.predict_proba(test_DF)[:,1],(-1,1))
rf_list=np.reshape(rf_clf.predict_proba(test_DF)[:,1],(-1,1))
print(real_list.shape)
print(dt_list.shape)
print(rf_list.shape)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

(2957, 1)
(2957, 1)
(2957, 1)

In [0]:
# test_X=np.hstack((real_list,dt_list,rf_list))
y_pred = xgb_model.predict(test_DF)
# y_pred=np.reshape(hjk.hjk_predict(test_DF.as_matrix()),(-1,1))
# y_pred=np.round(y_pred)
sub = pd.read_csv('/gdrive/My Drive/김해화재/PJT002_submission.csv')

sub['fr_yn'] = y_pred
sub['fr_yn'] = sub['fr_yn'].map({0:'N', 1:'Y'})
sub.to_csv('/gdrive/My Drive/김해화재/PJT002_submission_hjk8.csv', index=False)